
.quote-list { display: flex; 
 
 flex-wrap:wrap ; gap:30px 30px ;
 padding:10px ;
 
 }
.quote-list-item { border:5px dashed orangered ;

    flex: 1 25% ;
    padding:10px ;
 text-align: center;
}
.quote-list-title { background-color: aquamarine; 
    
    padding:10px ;

}
.quote-list-quote { background-color: aqua;
  padding:10px ;

}
.quote-list-author { background-color:rgb(73, 144, 238);
    padding:10px ;
    display: block;
    text-align:right;
}


s







