@import url(./reset.css);



.wrapper {
    /*Сюда подключаем наш основонй шрифт, цвет текста и вообще всё, что влият на весь контент*/
}

._container {
    max-width: 1440px;
    box-sizing: content-box; /*Чтобы падинг не уменьшал размер контентной области*/
    padding: 0 15px; /*Отсутупы безопасности, чтобы при уменьшении контейнера, контент не прилипал к границам*/
}