
.cars-list {   
  display: flex;
 flex-wrap: wrap;
gap: 40px;
max-width: 850px;
background-color: rgb(255, 255, 255);
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:  400 ;
  font-style:normal ;
  font-variation-settings:"slnt" 0;
   margin-left: 150px;
    gap: 70px 27px ;
}
.cars-list-item { 
   
  border: 1px solid blue; 
list-style: none;

flex: 1 20%;


    



  
}

.cars-list__title {  text-align: center;
  font-size:medium;
}
.cars-list__text {   text-align: center;
  
 font-size:smaller;

 }
.cars-list__button {   
  border-top: 1px solid blue; 
 font-size: x-small;
  text-align: center;
  display: block;

}
.cars-list__image { width: 100%;
  
}