
.cars-list {   
  display: flex;
 flex-wrap: wrap;
gap: 40px;
border: 4px solid blueviolet; 
background-color: sandybrown;
}
.cars-list-item { 
   
  border: 2px solid blueviolet; 


flex: 1 20%;

 
    



  
}

.cars-list__title {   
}
.cars-list__text {   

 }
.cars-list__button {   
  border: 2px solid blueviolet; 
  
  width: 100%;
  display: block;
}
.cars-list__image { width: 100%;
}